{{template "base" .}}

{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, aliquam sit fugiat laborum, sequi in commodi incidunt possimus ipsum 
        officiis nemo voluptas exercitationem, ut corrupti aperiam modi quo beatae rerum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium sapiente aut quas quam, earum repudiandae quidem recusandae harum veritatis alias.</p>
{{end}}